{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage" // need to install @babel/polyfill
            }
        ], "@babel/preset-react"
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties"]
}